th.gridjs-th {
    background-color: var(--primary-color-light);
    border: 1px solid var(--sidebar-color);
    color: var(--text-color);
}

input.gridjs-input {
    color: var(--text-color);
    background-color: var(--sidebar-color);
    border: 1px solid var(--primary-color-light);
}

.table-profile .gridjs-th-content {
    font-size: 1.4rem;
}

.table-profile .gridjs-td {
    font-size: 1.2rem;
    background-color: var(--sidebar-color);
    color: var(--text-color);
    border: 1px solid var(--primary-color-light);
}

.action-buttons {
    display: flex;
    gap: 1rem;
}

@media only screen and (max-width: 760px) {
    .table-profile .gridjs-td:first-child {
        overflow-wrap: break-word;
    }
}