.banner {
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    position: absolute;
    visibility: visible;
    opacity: 1;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .3s all;
}

.banner.hidden {
    visibility: hidden;
    opacity: 0;
}